/*! cross-framework 2015-12-22 */
/*
 * variable less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.res-list {
  margin-right: -15px;
}
.res-item {
  background-color: #eee;
  border: 1px solid #d0d0d0;
  float: left;
  width: 260px;
  margin: 0px 16px 16px 0px;
}
.res-item .res-item-inner {
  padding: 10px;
}
.res-item .res-imgBlock {
  width: 100px;
  float: left;
  margin-right: 10px;
  position: relative;
}
.res-item .res-imgBlock .res-img {
  width: 100px;
  height: 100px;
}
.res-item .res-imgBlock .res-points {
  margin: 6px 0px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.res-item .res-imgBlock .status {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  line-height: 20px;
  background-color: #999;
}
.res-item .res-imgBlock .status.live {
  background-color: #ff2700;
}
.res-item .res-contentBlock {
  width: 130px;
  float: left;
}
.res-item .res-contentBlock h4 {
  color: #333;
  margin-bottom: 10px;
}
.res-item .res-contentBlock .btn-reserve {
  margin-top: 5px;
}
