/*! cross-framework 2015-12-22 */
/**
 * 主播中心页面
 * @author Young
 * @contacts young@kingjoy.co
 */
/*
 * variable less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.hostDetails {
  margin-bottom: 20px;
}
.hostDetails img {
  display: block;
  margin-right: 20px;
  float: left;
}
.hostDetails .upload-box {
  float: left;
}
.hostDetails .upload-box .uploadify {
  display: block;
}
.picGrp {
  margin: 10px 40px 25px 0;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 3px #ccc;
  float: left;
}
.picGrp dd {
  margin-top: 10px;
}
.picGrp dd .toolDate {
  float: left;
}
.toolGrp {
  width: 100px;
  float: right;
  line-height: 13px;
}
.toolGrp span {
  float: left;
  width: 13px;
  height: 13px;
  background: url(../i/editPic.jpg);
}
.toolGrp a {
  float: left;
  margin-left: 10px;
}
.toolGrp a:hover {
  color: #ff2700;
}
.toolGrp a:hover .edtIco {
  background-position: -26px 0;
}
.toolGrp a:hover .delIco {
  background-position: 0px 0;
}
.toolGrp .edtIco {
  background-position: -39px 0;
}
.toolGrp .delIco {
  background-position: -13px 0;
}
.live-count {
  padding: 20px 0px;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.live-count .lc-title {
  color: #ff2700;
  font-size: 16px;
}
.live-count .lc-sub-title {
  color: #666;
}
.live-count .lc-sub-content {
  color: #e50080;
  margin-right: 30px;
}
