/*! cross-framework 2015-12-22 */
/*
 * noble
 * Author: Young
 * mail: young@kingjoy.co
 */
.noble-d-prop {
  width: 430px;
}
.noble-d-prop .noble-d-prop_left {
  display: inline-block;
  width: 200px;
  margin-right: 30px;
  vertical-align: top;
}
.noble-d-prop .noble-d-prop_right {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.noble-d-prop .noble-d-prop_right h2 {
  text-align: center;
  font-size: 18px;
  margin: 5px 0px 20px 0px;
}
.noble-d-prop .noble-d-prop_right p {
  margin: 15px 0px 0px 0px;
  font-size: 12px;
}
.noble-d-charge {
  width: 450px;
  position: relative;
}
.noble-d-charge .noble-d-charge_head h2 {
  font-size: 18px;
  color: #333;
  margin: 0px 0px 15px 0px;
}
.noble-d-charge .noble-d-charge_head img {
  width: 100%;
}
.noble-d-charge .noble-d_main {
  min-height: 270px;
}
.noble-d-charge .noble-d-charge_content {
  color: #333;
}
.noble-d-charge .noble-d-charge_content h3 {
  margin: 10px 0 10px 0;
}
.noble-d-charge .noble-d-charge_content p {
  font-size: 14px;
  line-height: 20px;
}
.noble-d-charge .noble-d-charge_content table {
  width: 100%;
  margin: 10px 0px;
}
.noble-d-charge .noble-d-charge_content table td {
  padding: 5px 8px;
  border: 1px solid #ccc;
}
.noble-d-charge .noble-d-charge_btnbox {
  margin: 20px 0px;
}
.noble-d-charge .noble-d-charge_btnbox .noble-d_charge_btn {
  margin: 0px auto;
}
.noble-d-charge .noble-d-charge_btnbox .noble-d-link {
  color: #666;
  position: absolute;
  bottom: 12px;
  text-decoration: underline;
  font-size: 12px;
  right: 0px;
}
.noble-d-charge .noble-d_menu {
  margin-bottom: 20px;
  border-bottom: 3px solid #d03d75;
}
.noble-d-charge .noble-d_tab {
  cursor: pointer;
  float: left;
  padding: 10px 8px 3px 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.noble-d-charge .noble-d_tab.active {
  background-color: #d03d75;
}
.noble-table-diamond {
  background-image: url(../i/header.png);
  background-position: -168px 0px;
  width: 15px;
  height: 12px;
  margin-left: 5px;
  display: inline-block;
}
