/*! cross 2016-03-04 */
/*
 * common less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.module .module-a {
  color: royalblue;
}
.module .module-b {
  color: royalblue;
}
/*选项卡*/
.module .module-common {
  background-image: url('../../../src/img/common.png');
}
